.Limited-shoes {
    position: relative;
    top: 5rem;
    background-color: #c1d7c359;
    padding-top: 70px;
}

.Limited-shoes h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Limited-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
}

